@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

.navbar-container{
    background-color: rgb(120, 129, 135);
    width: 100vw;
    height: 90px;
   
    position:fixed;
}
.nav-heading{ 
    padding-left: 20px;
    color: black;
    font-size:60px;
    font-weight: bolder;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.nav-heading:hover{
    color: black;
  
}
.nav-name{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    padding-right: 40px;
}