body{
    background-color: rgb(72, 72, 255);
}
.form-container{
   
display:flex;
flex-direction: column;
justify-content: center;
padding-top: 75px;

width: 300px;
}

.form-container Label{
color: white;
}
.form-container h2{
    color: white;
}
.link {
    color: white;
}