@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

body{
   background-image: url('https://images.pond5.com/space-cartoon-animated-background-footage-075133825_iconl.jpeg');
   /* background-repeat: no-repeat; */
  /* background-size: 1300px; */
}

.form{
    padding-top: 50px;
}

.form-container{
   
display:flex;
flex-direction: column;
justify-content: center;
/* text-align: center; */
align-items: center;
padding-top: 100px;

/* width: 300px; */
}

.form-container Label{
color: white;
}
.form-container h2{
    font-weight:bolder;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
   color: white; 
      font-size:65px;
    
}
.form-container p {
    color: white;
}
.form-container button{
    width: 80px;
    height: 40px;
     border: none;
     border-radius: 25px;
     
}
.link {
    color: white;
}
.btn{
    display: flex;
    flex-direction: column;
justify-content: center;
/* text-align: center; */
align-items: center;
  
}
.btn:hover{
    border: 0px solid black;
}


.input {
 padding-bottom: 30px;
}