.App {
  text-align: center;
}

.map-selection-container{
  display: flex;
}

.map-image{
  width: 50%;
}

.game-card {
  display: flex;
  background-color:antiquewhite;
}

.margin {
  padding: 5%;
} 

.btn {
  height: 5%;
  margin-top: 5%;
}